---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Lady Catherine",
    country: "France",
    occupation: "English teacher",
    hobbies: ["teaching", "English", "tennis"],
};
---

<BaseLayout pageTitle={pageTitle}>
    <style is:global>
        h1 {
            font-size: 4rem;
        }
    </style>
    <h2>... and my new Teaching Website!</h2>

    <p>
        I am working through to make English easy and available for everybody.
        This is the second page on my website, and it's the first one I built
        myself!
    </p>

    <p>
        This site will update as I find more interesting news from all around
        the world and create new lessons, so keep checking back and see how this
        website is growing!
    </p>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 3 && (
                <li>
                    Some of my hobbies are: {identity.hobbies[0]},
                    {identity.hobbies[2]} and of course {identity.hobbies[1]}!
                </li>
            )
        }
    </ul>
    <p>Let's go through this adventure together and learn english !</p>
</BaseLayout>
